html{
	font-size: 15px;
	background-color: lightblue;
	margin: 1em auto;
	padding: 1em;
	position: relative;
	overflow: hidden;
	text-align: center;
}
.allpage{
	width: 70%;
	margin: 2em auto;
}
figure img{
	width: 7%;
}
