body{
    font-size: 15px;
}
.container{
    width: 100%;
    height: 30em;
}
.main{
    background-color: lightblue;
}
ul{
    margin:0.2em;
    padding:0.2em;
    list-style-type: none;
}
nav{
    background-color: blue;
    color: white;
}
.toppanel{
    display: flex;
    float: top;
    text-align: center;
    width: 100%;
}
.toppanel li{
    text-align: center;
    width: 20em;
    padding: 0,5em;
}
.toppanel ul{
    display: flex;
    flex-flow: row;
    justify-content: center;
    flex-grow:1;
}
.leftpanel{
    display: flex;
    float: left;
    text-align: center;
    height: auto;
    width: 10%;
    height: 30em;
}
.leftpanel li{
    text-align: center;
    padding: 0,5em;
}
.leftpanel ul{
    display: flex;
    flex-flow: column;
    flex-grow:1;
}
.rightpanel{
    display: flex;
    float: right;
    text-align: center;
    height: auto;
    width: 10%;
    height: 30em;
}
.rightpanel li{
    text-align: center;
    padding: 0,5em;
}
.rightpanel ul{
    display: flex;
    flex-flow: column;
    flex-grow:1;
}
.main{
    display: flex;
    text-align: center;
    width: 80%;
    height: 30em;
    margin: 0;
}
.main ul{
    display: flex;
    flex-flow: column;
    flex-grow:1;
}
.main li{
    text-align: center;
    padding: 0.5em;
}
.games{
    display: block;
}
nav img{
    width: 100%;
}
.rightpanel img{
    width: 30%;
}